# ----------------------------------------
# Python
# ----------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
build/
dist/
wheels/
*.egg-info/
.eggs/
*.spec

# Cache de herramientas
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/

# Virtual environments
.venv/
venv/
ENV/
env/

# Archivos de configuración sensibles
.env
.env.*
*.secret
*.key

# ----------------------------------------
# Node / JavaScript / TypeScript
# ----------------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Dist / build frontends
dist/
build/
.next/
out/
coverage/

# ----------------------------------------
# IDEs / Editores
# ----------------------------------------
.vscode/
.idea/
*.swp
*.swo

# ----------------------------------------
# Sistemas operativos
# ----------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------
# Logs
# ----------------------------------------
*.log
logs/
